{
  "network": {
    "devnet": "http://127.0.0.1:8899",
    "testnet": "",
    "mainnet": ""
  },
  "payers": [
    {
      "address": "",
      "secretKey": ""EpZ9DHsj6jyXH2ia9JvME4R1sf42JYoeYM3gX6McP3MW
    }
  ],
  "keypairPath": ""
}
